@model MTD.Models.AccountModel
@{
    ViewBag.Title = "Registry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section MainContent{
    <div class="main-container">
        <div class="main-content">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="login-container">
                        <div class="space-6">
                        </div>
                        <div class="position-relative">
                            <div id="forgot-box" class="signup-box widget-box no-border visible">
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <h4 class="header green lighter bigger">
                                            <i class="ace-icon fa fa-users blue"></i>Tạo tài khoản mới!
                                        </h4>
                                        <div class="space-6">
                                        </div>
                                        @using (Html.BeginForm("Registry", "User", FormMethod.Post))
                                        {
                                            @Html.AntiForgeryToken()
                                            <fieldset>
                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                                                        @Html.ValidationMessageFor(m => m.Email)
                                                        <i class="ace-icon fa fa-envelope"></i></span>
                                                </label>
                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Username" })
                                                        @Html.ValidationMessageFor(m => m.UserName)
                                                        <i class="ace-icon fa fa-user"></i></span>
                                                </label>
                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @placeholder = "Mật khẩu", @type="password" })
                                                        @Html.ValidationMessageFor(m => m.Password)
                                                        <i class="ace-icon fa fa-lock"></i></span>
                                                </label>
                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Xác nhận Mật khẩu", @type="password" })
                                                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                                        <i class="ace-icon fa fa-retweet"></i></span>
                                                </label>
                                                <label class="block">
                                                    <input type="checkbox" class="ace" onchange="document.getElementById('btnRegister').disabled = !this.checked;" />
                                                    <span class="lbl">Tôi chấp nhận <a href="#">Điều khoản quy định</a> của website.
                                                    </span>
                                                </label>
                                                <div class="clearfix">
                                                    <button type="submit" id="btnRegister" class="width-65 pull-right btn btn-sm btn-success"
                                                        disabled="disabled">
                                                        <span class="bigger-110">Đăng ký</span> <i class="ace-icon fa fa-plus">
                                                        </i>
                                                    </button>
                                                </div>
                                            </fieldset>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
